{extends layout.latte}

{block title}TITLE OF PAGE{/block}

{block body}
    <div class="container"><center>
        <p>
        <h1>Projekt APV</h1>
        <h2>ZS 2020</h2>
        <h3>Made by: Petr Kudláček</h3>
    </p><img src="https://5.imimg.com/data5/RU/UJ/MY-17868609/school-gold-medal-250x250.jpg">
        </center>
    </div>
{/block}